root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
tab_width = 4
trim_trailing_whitespace = true

[*.py]
max_line_length = 88
ij_visual_guides = 88

[*.rst]
max_line_length = 120
ij_visual_guides = 0
